{% extends 'base.html' %}
{% load static %}
{% block body %}

    <h1>{{ book.title }}</h1>
        <p>{{ book.description|safe }}</p>

        {% if book.image %}
            <img src="{{ book.image.url }}">
        {% endif %}
        <p>{{ book.published }}</p>
        <p>
            {% for tag in book.tags.all %}
                <span>{{ tag.title }}</span>
            {% endfor %}
        </p>

    <p>
        <a href="{% url 'edit-post' book.id %}">Редактировать</a> |
            <a href="{% url 'delete-post' book.id %}">Удалить</a>
    </p>
{% endblock body %}